<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <a class="page-link" href="{{ '/' | relative_url }}#welcome">Welcome</a>
      <a class="page-link" href="{{ '/' | relative_url }}#courses">Courses</a>
      <a class="page-link" href="{{ '/' | relative_url }}#research">Research</a>
      <a class="page-link" href="{{ '/' | relative_url }}#projects">Projects</a>
      <a class="page-link" href="{{ '/' | relative_url }}#skills">Skills</a>
      <a class="page-link" href="{{ '/' | relative_url }}#nonprofits">Nonprofits</a>
      <a class="page-link" href="{{ '/' | relative_url }}#values">Personal</a>
      <a class="page-link" href="{{ '/' | relative_url }}#contact-footer">Contact</a>
    </nav>
  </div>
</header>
